<ion-header class="ion-no-border" *ngIf="award">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" [routerLink]="'/contact-details/' + award.Award_Number">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button strong="true" color="primary" [disabled]="!updateAwardForm.valid || !formIsEdited" (click)="submitForm()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="award">

  <form [formGroup]="updateAwardForm" #updateForm="ngForm" (ngSubmit)="updateAward(updateAwardForm.value)" *ngIf="award">
    <ion-list lines="full">
      <ion-item lines="full">
        <ion-input placeholder="Award Number" inputMode="integer" clearInput="true" formControlName="Award_Number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Award Name" inputMode="text" clearInput="true" formControlName="Award_Name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Award PI" inputMode="text" clearInput="true" formControlName="Award_PI" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Award Sponsor" inputMode="email" clearInput="true" formControlName="Award_Sponsor" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Department Number" inputMode="text" clearInput="true" formControlName="Dept_Number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Award Start Date" inputMode="text" clearInput="true" formControlName="Start_Date" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Award End Date" inputMode="text" clearInput="true" formControlName="End_Date" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Reporting Period" inputMode="tel" clearInput="true" formControlName="Reporting_Period" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Special Report Requirements" inputMode="tel" clearInput="true" formControlName="Special_Report" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Report Status" inputMode="tel" clearInput="true" formControlName="Report_Status" required></ion-input>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item-divider></ion-item-divider>
      <ion-item button="true" detail="false" (click)="deleteAward(award.Award_Number)">
        <ion-label color="danger">
          Delete Award
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>